<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PRODUCT_MANGMENT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <PRODUCT_MANGMENT.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>MUSAB-PC</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>product_db</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>windows</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>musab</value>
            </setting>
            <setting name="pwd" serializeAs="String">
                <value>1421</value>
            </setting>
        </PRODUCT_MANGMENT.Properties.Settings>
    </userSettings>
</configuration>
